body {
  /*min-height: 2000px;*/
  padding-top: 50px;
  padding-bottom: 80px;
}

.top-line {
    padding-top: 30px
}

.page-header {
    margin-top: 20px;
}

.panel-body {
padding: 19px;
}

.dataTables_paginate, .dataTables_filter {
    float: right;
}

.dataTables_wrapper {
    padding: 20px 0;
}

.border-none {
    border:none;
}

.align_with_well {
    padding: 20px 20px 0 20px;
}


.img-center {
    margin: 0 auto;
    display: block;
}

.form-inline .form-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-nav {
    padding-top: 10px;
}

.navbar-toggle {
    padding: 20px;
    margin-top: 10px;
}


legend {
    margin-top: 15px;
    margin-left: 5px;
}

.margin_top_30 {
    margin-top: 30px;
}

.nav>li>a {
    padding: 10px 10px;
    text-align: center;
}

/*.btn.btn-fullwidth {
  width: 100%; 
  display: block;
}*/

div.list .pre-scrollable {
  max-height: 550px;
}

div.list {
    height:650px;
}

div.card a {
    text-decoration:none;
}

tr.completed {
    background-color:red;
}

.loader {
    background-image: url('/assets/img/bootstrap/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    height: 50px; 
}

/* for table on order page */
input.order_item {
    border:none;
    background-color: red; 
}



/* Login Form */
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="email"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}



/* Form fixes */
label.radio {
    padding: 0 20px 10px 20px;
}

h4.radio-label {padding-right:20px;}

.bootstrap-switch {margin-top:10px; margin-bottom:10px; margin-left:20px;}


/* List */
.no-bullet {
    list-style-type: none;
    padding-left: 10px;
}


/* Wysiwyg */
.note-editable {background-color: #fff;}


/* Search */

#searchForm {
    
}

#searchForm .productConditions {
    list-style: none;
    margin: 0;
    padding: 0;
}

#searchForm .productConditions select {
    display: inline;
    width: inherit;
}

#searchForm .productConditions .addRemove {
    margin-left: 5px;
}

#searchForm .bootstrap-tagsinput {
    width: 100%;
}

.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}